<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Quita /public/ del inicio de la URL (p.ej. /public/css/app.css -> /css/app.css)
    RewriteRule ^public/(.+)$ $1 [L,NC]

    # Sirve assets aunque vengan como /auth/... /{id}/... o /en-GB/...
    RewriteRule ^(auth|[0-9]+|[A-Za-z\-]{2,5})/((css|js|img)/.*)$ $2 [L,NC]

    # Reglas estándar de Laravel
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
